<!-- <footer>
    <section class="FtrLogo">
        <p>DROPWORLD</p>
        <p>DROPWORLD</p>
        <p>DROPWORLD</p>
        <p>DROPWORLD</p>
        <p>DROPWORLD</p>
        <p>DROPWORLD</p>
        <p>DROPWORLD</p>
        <p>DROPWORLD</p>
        <p>DROPWORLD</p>
        <p>DROPWORLD</p>
    </section>
    <section class="FtrNav">
        <p class="Title">NAVIGATION</p>
        <p>About US</p>
        <p>Contact US</p>
        <p>Mini Games</p>
    </section>
    <section class="FtrContact">
        <p class="Title">CONTACTS</p>
  
        <p class="parent">Address</p>
        <p class="child">XYZ BHILAI, CHHATTISGARH</p>
  
        <p class="parent">Phones</p>
        <p class="child">+91 9876543210</p>
  
        <p class="parent">Email</p>
        <p class="child">BroCode@DropWorld.com</p>
    </section>
    <p class="copyright">Copyright | BroCode</p>
  </footer> -->