@font-face {
    font-family: "IBM";
    src: url("./fonts/IBMPlexMono-Regular.ttf");
}
*{
    font-family: "IBM";
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background: rgba(105, 166, 162,.29);
    height: 15vh;
    width: 100%;
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    margin-right: 1em;
}
.logoContainer img{
    margin: 1em;
}
.logoContainer .dropWorld{
    letter-spacing: 1px;
}
nav a{
    margin: 1em;
    font-size: .8em;
}
.firstPage{
    background-image: url("./images/idea\ fiesta\ \ image\ of\ a\ boy.jpg");
    height: 85vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.firstPage h2,.firstPage p{
    max-width: 70vw;
    padding-left:100px;
    letter-spacing: 2px;
}
.firstPage p{
    letter-spacing: 1px;
}
.firstPage button{
    width: 150px;
    padding: 20px;
    background: #000;
    border-radius: 10px;
    margin-left:100px ;
    color: white;
    box-shadow: 8px 8px 0 rgba(0,0,0,.44);
    margin-top: 20px;
}
.readOrWrite{
    background: #323D3a;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.readOrWrite p{
    color: white;
    letter-spacing: 2px;
}
.readOrWrite .box{
    height: 200px;
    width: 200px;
    /* background: white; */
    border-radius: 20px;
    /* background-size: 20%; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}
.box p{
    color: black;
    text-align: center;
    letter-spacing: 2px;
}
.read{
    background-image: url("./images/read\ icon\ Idea\ Fiesta.png");
    background-position: center;
    background-size: cover;
}
.write{
    background-image: url("./images/Write\ Blog.png");
    background-position: center;
    background-size: cover;
}